<nav class="navbar navbar-expand-md fixed-top" id="blogBar">
        <a href="/" class="navbar-brand">
            <img src={{ "assets/personal-logo-white.png" | relative_url }} height="50" alt="Wil Hergenrader">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav spacing">
                <a href={{ "/blog" | relative_url }} class="nav-item nav-link">Blog</a>
                <!-- <a href={{ "/notes" | relative_url }} class="nav-item nav-link">Notes</a> -->
                <a href={{ "/codex-vitae" | relative_url }} class="nav-item nav-link">Codex Vitae</a>
                <a href={{ "/reading" | relative_url }} class="nav-item nav-link">Bookshelf</a>
                <a href={{ "/" | relative_url }} class="nav-item nav-link">Exit Blog</a>
            </div>
        </div>
    </nav>

    <script>
      $(function() {
        var current = location.pathname;
        $('#blogBar #navbarCollapse a').each(function(){
          var $this = $(this);
          if($this.attr('href') === current){
                $this.addClass('active');
          }
        })
      });
    </script>
