<footer class="panel-footer text-center">
  <div class="icon-div footer-div-padding">
    <a href="https://www.instagram.com/hergenrader" target="_blank">
      <i class="fab fa-instagram icon-padding"></i>
    </a>
    <a href="https://www.facebook.com/wil.hergenrader" target="_blank">
      <i class="fab fa-facebook-square icon-padding"></i>
    </a>
    <a href="https://github.com/hergyherg" target="_blank">
      <i class="fab fa-github-square icon-padding"></i>
    </a>
    <a href="https://www.linkedin.com/in/wilhergenrader" target="_blank">
      <i class="fab fa-linkedin icon-padding"></i>
    </a>
    <a href="https://twitter.com/wilhergenrader" target="_blank">
      <i class="fab fa-twitter-square icon-padding"></i>
    </a>
    <a href="https://medium.com/@hergenrader" target="_blank">
      <i class="fab fa-medium icon-padding"></i>
    </a>
  </div>
  <div class="div-padding copyright">
Design by Wil Hergenrader | <a href={{ "/colophon" | relative_url }}>Colophon</a><br>© 2019 <a href="/">William Jensen Hergenrader</a>. All rights reserved.
  </div>
</footer>
