.jumbotron {
  background-image: url("../assets/atlanta-map-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 1;
}

.jumbo404 {
  color: rgb(255, 255, 255);
  font-family: 'Major Mono Display', monospace;
}

@media screen and (max-width: 768px) {
  h1.jumbo404 {
    font-size: 4em;
  }

  h3.jumbo404 {
    font-size: 3em;
  }
}
